<mat-list>
  <mat-list-item style="height: 300px; overflow-y: auto;">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> Titulo: </mat-card-title>
        <mat-card-subtitle> ID: </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word; white-space: normal;">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis repellendus, veritatis consectetur tempore eligendi dolorem! Deserunt at sint nisi nostrum. Pariatur nesciunt inventore eveniet nisi asperiores numquam magni laborum quia.</p>
        <span>Fecha: <p>78/78/78</p></span>
        <span>Status: <p>Active</p></span>
      </mat-card-content>
      <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="Chihuahua traits">
          <mat-chip>charming</mat-chip>
          <mat-chip>graceful</mat-chip>
          <mat-chip>sassy</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
  </mat-list-item>
</mat-list>
